<div id="about" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="left">
    <span>Logo</span>
    <a routerLink="/">Home</a>
    <a routerLink="/forum">Forum</a>
  </div>
  <div class="right">
    <span>Login</span>
    <span>Logout</span>
  </div>

</div>

<div id="welcome" fxLayoutAlign="center center" fxLayout="row"> 
  <div fxLayout="column" fxLayoutAlign="center center">
    <h1>Something good will happen!</h1>
    <h3>Try to learn new things before you cant</h3>
  </div>
</div>

<div class="separateLayout" fxLayout="row" fxLayout.lt-sm="column">
  <div fxFlexOrder="1" fxFlexOrder.lt-md="2" class="item" fxFlex="300px" fxFlex.lt-sm="100%">300px</div>
  <div fxFlexOrder="2" fxFlexOrder.lt-md="3" class="item" fxFlex="500px" fxFlex.lt-sm="100%">500px</div>
  <div fxFlexOrder="3" fxFlexOrder.lt-md="1" class="item" fxFlex fxFlex.lt-sm="100%">content</div>
</div>

