<!-- <ng-container *ngIf="!user">
  <button  (click)="signInWithFacebook()">Facebook login</button>
  <button (click)="signInWithGoogle()">Google login</button>
</ng-container>

<button *ngIf="user" (click)="logout()">Logout()</button>

<div class="userInfo" *ngIf="user">
  <img src="{{ user.photoUrl }}">
  <div>
    <h4>{{ user.name }}</h4>
    <p>{{ user.email }}</p>
  </div>
</div>
<div *ngIf="!user">
  chua dang nhap
</div> -->


<div class="project2t">
  <header></header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <!-- <footer></footer> -->
</div>

